---
import Layout from '../layouts/Layout.astro';

import KeyPoints from '../components/KeyPoints.astro';
import ContactBox from '../components/ContactBox.astro';
import HeroSection from '../components/HeroSection.astro';

import Violations from "../assets/images/WPS-General_consultations.png";
import Agreement from "../assets/images/agreement.png";
import House from "../assets/images/house.png";
import Book from "../assets/images/book.png";
import Clock from "../assets/images/clock.png"
---

<Layout title="WPS - Free Consultations">
    <HeroSection
		imagePath={Violations}
		title="Free Consultations"
		body="Expert advice is just a call away. Whether you're facing complex property issues or need general guidance, Whiddon Property Solutions is here to help."
	/>

	<section class="text_content_background">
		<div class="container py-3">
			<h4 class="baskervville-regular text-center">Comprehensive Guidance for Property Owners</h4>

            <p class="text-center py-3">Once you get in contact with our team, we will either sit down with you on site or hop on a zoom call or traditional phone call to go over and discuss what it is exactly you want or need resolved in detail. Our team is also open to communicating back and forth over email. These consultations will be free of charge and will be used to assess your case in full and from there, advise on what our gameplan and timeline will be. Please see the Contact tab for all our contact information.</p>

			<p class="text-center py-3">Our team guarantees your property will be within Compliance by the time we are done handling your case. Whether it is Building Code Violations, Permitting Violations or Zoning Code Violations, we got you covered!</p>
			
                <p class="text-center py-3">Call us anytime, for anything, 24/7.</p>

			<ContactBox
				text="For a free consultation, contact us at (954) 649-7315 or (954) 649-7444."
			/>

		</div>
	</section>
</Layout>

<style>
	.home_content {
		background-size: cover;
	}
	.image_box img{
		width: 100%;
		height: 100%;
	}
</style>
