---

---

<header class="container">
    <div class="hero-content hero_text_shadow" data-aos="zoom-in" data-aos-easing="ease-out-back" data-aos-duration="2000" data-aos-delay="0">
        <h4 class="baskervville-regular">WHIDDON PROPERTY SOLUTIONS</h4>
        <h4 class="bold">ABOUT US</h4>
    </div>
</header>

<style>
	header {
		margin: auto;
		padding: 1rem;
		/* width: 800px; */
		/* max-width: calc(100% - 2rem); */
		color: black;
		font-size: 20px;
		line-height: 1.6;
		/* height: 100vh; */
        text-shadow: none !important;
	}
	#houseopen {
		position: absolute;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
        width: 100%;
        height: 100%;
	}
	.hero-content {
		display: grid;
		place-content: center;
		height: 50vh;
		width: 100%;
		z-index: 10;
		position: relative;
		text-align: center;
        text-shadow: none !important;
	}
	.home_content {
		background-size: cover;
	}
	.image_box img{
		width: 100%;
		height: 100%;
	}
</style>
