---
import Button from './extra/button.astro';

interface Props {
	text: string;
}

const { text } = Astro.props

---

<div class="big_blue d-md-none">
	<p class="bold">{text}</p>
    <Button
        link="tel:9546497315"
        text="Contact Us"
    />
</div>

<div class="big_blue d-none d-md-block">
	<p class="bold">{text}</p>
    <Button
        link="/Contact"
        text="Contact Us"
    />
</div>

<style>
    p {
        text-decoration: none;
        color: white;
    }
    .big_blue {
        background: #536F9A;
        border-radius: 15px;
        padding: 2em;
        color: white;
        text-align: center;
        margin: 3em 0em;
    }
</style>
